version: '3.7'

services:
  database:
    container_name: parser-trudvsem-postgres
    restart: always
    ports:
      - "3333:5432"

    env_file:
      - ./env-params/database.env

    image: postgres:17.6-trixie

    volumes:
      - ./database/data:/var/lib/postgresql/data